 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .modal-signin-container,
 .modal-login-container {
   font-family: "Open Sans", sans-serif;
   background: #ffffff;
   min-height: 100vh;
   justify-content: center;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   padding-top: 12px;
   padding-bottom: 12px;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 2;
   animation: modalShow ease 0.3s;
 }

 .modal-login-container {
   padding-top: 12px;
 }


 /* .modal-signin-container {
   /* display: none; */
 /* position: fixed; 
 } */

 /* .modal-login-container.open {
   display: flex;
 }

 .modal-signin-container.open {
   display: flex;
 } */


 .modal-login-heading,
 .modal-signin-heading {
   color: #d300a5;
 }

 /* .modal-signin-container {
    font-family: "Open Sans", sans-serif;
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0 , 0 , 0.4);
    z-index: 2;
    display: none;
  } */

 .form-modal-login {
   width: 450px;
   margin-left: 390px;
 }

 .form-modal-signin {
   width: 400px;
   margin: 24px;
 }

 .form-modal-signin {
   min-height: 100px;
   padding: 12px 25px;
   text-align: center;
   background: #fff;
   border-radius: 10px;
   margin: 14px 50px 18px 415px;
   align-self: center;
   box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
 }

 .form-modal-login {
   min-height: 100px;
   padding: 25px 25px;
   text-align: center;
   background: #fff;
   border-radius: 10px;
   margin: 14px 50px 18px 415px;
   align-self: center;
   box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
 }

 .form-modal-login .modal-login-heading,
 .form-modal-signin .modal-signin-heading {
   font-size: 2rem;
 }

 .form-modal-login .desc {
   text-align: center;
   color: #636d77;
   font-size: 1.3rem;
   font-weight: lighter;
   line-height: 1.8rem;
   margin-top: 16px;
   font-weight: 300;
 }

 .form-modal-signin .desc {
   text-align: center;
   color: #636d77;
   font-size: 1.3rem;
   font-weight: lighter;
   line-height: 1.8rem;
   margin-top: 16px;
   font-weight: 300;
 }

 .form-group {
   display: flex;
   margin-bottom: 10px;
   flex-direction: column;
 }

 .form-label,
 .form-message {
   text-align: left;
 }

 .form-label {
   font-weight: 700;
   padding-bottom: 6px;
   line-height: 1.8rem;
   font-size: 22px;
 }

 .form-control {
   height: 40px;
   padding: 8px 12px;
   border: 1px solid #b3b3b3;
   border-radius: 3px;
   outline: none;
   font-size: 19px;
 }

 .form-control:hover {
   border-color: #1dbfaf;
 }

 .form-group.invalid .form-control {
   border-color: #f33a58;
 }

 .form-group.invalid .form-message {
   color: #f33a58;
 }

 .form-message {
   font-size: 1.2rem;
   line-height: 1.6rem;
   padding: 4px 0 0;
 }

 .form-submit-login,
 .form-submit {
   outline: none;
   background-color: #d300a5;
   margin-top: 6px;
   padding: 12px 36px;
   font-weight: 600;
   color: #fff;
   border: none;
   min-width: 100%;
   font-size: 20px;
   border-radius: 8px;
   cursor: pointer;
 }



 .form-submit:hover {
   background-color: #1ac7b6;
 }

 .spacer {
   margin-top: 13px;
 }

 .eye {
   position: absolute;
   right: 425px;
   bottom: -23px;
 }

 @keyframes modalShow {
   from {
     opacity: 0;
     transform: translateY(-100px);
   }

   to {
     opacity: 1;
     transform: translate(0);
   }
 }