:root {
    --index-num-width: 40px;
    --index-num-height: 40px;
    --header-height: 64px;
    --border-color: #949494;
}

body {
    background: #f4cfd5;
    font-family: 'Noto Serif TC', serif;
}

.test-img-section {
    margin-top: 120px;
    border: 1px solid var(--border-color);
    max-width: 1211px;
    min-height: 100px;
    padding: 12px;
    margin-left: 12px;
    border-radius: 5px;
    background: #fff;
}

.test-content {
    margin-top: calc(var(--header-height) + 56px);
    display: flex;
    border: 1px solid var(--border-color);
    max-width: 1211px;
    min-height: 100px;
    padding: 12px;
    margin-left: 12px;
    border-radius: 5px;
    background: #fff;

}

.test-content__container {
    min-width: 70%;
}


.quizz-ques {
    display: flex;
    /* width: 70%; */
    margin-top: 12px
}

.quizz-ques__number--tittle {
    display: inline-block;
    padding-top: 12px;
}


.quizz-ques__question {
    border: 1px solid var(--border-color);
    /* border-radius: 5px; */
    padding: 10px;
    margin-right: 8px;
    margin-left: 8px;
    display: block;
}

.quizz-ques__question--select {
    margin-top: 12px;
}


.quizz-select {
    min-width: 20%;
}



.quizz-select__tittle {
    height: 50px;
    background: #c7dbf5;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    margin-top: 12px;
    color: red;
}

.quizz-select__index--num {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: var(--index-num-width);
    height: var(--index-num-height);
    text-align: center;
    line-height: calc(var(--index-num-height) - 3px);
    margin-bottom: 8px;
    cursor: pointer;
}




/* =========== MODIFY QUESTION IMAGE SHAPE SECTION ======================= */
.header-moctest {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: #007c5d;
}

.question-img {
    width: 155px;
    height: 182px;
}

.col-3img {
    width: 140px;
}

.first-col {
    width: 130px;
    font-weight: 700;
}

.table-2col {
    width: 710px;
}

.label-padding {
    padding-right: 50px;
}

.label_true_false {
    padding-right: 80px;
}