body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fadbdb;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slider-list{
    width: 500%;
    height: 500px;
    display: flex;
}

.slider-list input{
    display: none;
}

.slide-item{
    width: 20%;
    transition: 2s;
}

.slide-item img{
    width: 800px;
    height: 500px;
}




.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #f1a5a5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover{
    background: #f1a5a5;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}


/* css for auto play */
.nav-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.nav-auto div{
    border: 2px solid #f1a5a5;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: #f1a5a5;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: #f1a5a5;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background: #f1a5a5;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background: #f1a5a5;
}

#radio5:checked ~ .nav-auto .auto-btn5{
    background: #f1a5a5;
}