.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100%);
    right: 0;
    background-color: white;
    border-radius: 4px;
    width: 140px;
    list-style: none;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    font-family: Arial, Helvetica, sans-serif;

}

.header__navbar-user-menu::before {
    content: "";
    border: 16px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 5px;
    top: -30px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
    background-color: transparent;

}

.header__navbar-user-item a {
    text-decoration: none;
    color: rgb(103, 101, 101);
    font-size: 14px;
    padding: 8px 12px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #fec7c7;
    color: black;
}





.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    /*do bình thường các block sẽ không nằm trên cùng một hàng--> vẫn giữ tính chất khối nhưng lại nằm trên cùng một hàng*/
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.name-user {
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    color: yellow;
    display: inline-block;
}