* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON CSS */

html {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(245, 219, 243); */
}

.header-mocktests {
    height: 90px;
    background-color: rgb(2, 2, 83);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.grid-mocktests {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-moctests-row {
    display: flex;
    /*để các element cùng nằm trên một hàng ngang*/
    flex-wrap: wrap;
    /*nhảy xuống hàng khi chiều dài thay đổi*/
    margin-left: -5px;
    margin-right: -5px;
}

.grid-mocktests__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 90.3333%;
    display: block;
    /* margin-top: 60px; */
}

.grid-mocktests__column-2-4 {
    padding-left: 15px;
    padding-right: 5px;
    width: 25%;
    display: block;
    margin-bottom: 16px;
}

/* .header-mocktests-content{
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */

.header-mocktetsts-img img {
    height: 50px;
    margin-top: 0px;
    margin-left: 25px;
}

.home-button {
    display: block;
}

.home-button>li {
    display: inline-block;
    line-height: 64px;
    list-style-type: none;
}

.header-mocktetsts-home {
    border: 1px solid rgb(250, 162, 31);
    min-width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(250, 162, 31);
    margin: 20px;
}

.header-mocktetsts-text {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.header-mocktetsts-hsk,
.header-mocktetsts-example,
.header-mocktetsts-vocab {
    border: 1px solid rgb(207, 203, 195);
    min-width: 150px;
    /* max-width: 200px; */
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 244, 244, 0.3);
    margin: 15px;
}

.header-mocktetsts-hsk:hover,
.header-mocktetsts-example:hover,
.header-mocktetsts-vocab:hover {
    opacity: 0.8;
}

.header-mocktetsts-hsk:active,
.header-mocktetsts-example:active,
.header-mocktetsts-vocab:active {
    background-color: rgb(250, 162, 31);
    opacity: 1;
}

.header-mocktest__search-input {
    flex: 1;
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 0 2px;
    border-radius: 4px;
}

.header-mocktests__search-btn {
    background-color: rgb(181, 8, 187);
    border: none;
    height: 29px;
    width: 50px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}


.home-button li:hover .header-mocktestes-hsk-subnav {
    display: block;
    /* position: relative; */
}

/* SEARCH */

.mocktestes-hsk-subnav__search {
    flex: 1;
    height: 38px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    flex: 1;
    height: 38px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    float: right;
    cursor: pointer;
    padding: 0 21px;
    margin-top: -60px;
    padding: 6px;
    margin-right: 7px;

}


.search-mocktestes-hsk-subnav {
    right: 0;
}


.header-mocktestes-hsk-subnav {
    display: none;
}


.search-mocktestes-hsk-subnav,
.header-mocktestes-hsk-subnav {
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    min-width: 430px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    letter-spacing: 0.8;
    transition: right linear 0.1s;
    z-index: 2;
    position: absolute;
    align-items: center;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 5px;
}

.header-mocktestes-hsk-subnav li {
    margin-bottom: 8px;
    list-style: none;
    display: inline-block;
    margin: 4px;

}

.header-mocktestes-hsk-subnav::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 330px;
    top: -40px;
}

.header-mocktestes-hsk-subnav li a {
    color: rgb(15, 15, 15);
    padding: 4px;
    text-decoration: none;
}

.header-mocktestes-hsk-subnav li:hover a {
    border: rgb(250, 162, 31);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 162, 31);
    padding: 12px;
    font-weight: 600;
}

/* SEARCH BTN */
.mocktest-search-btn {
    float: right;
    cursor: pointer;
    padding: 0 21px;
    margin-top: -73px;
    padding: 17px;
    margin-right: 12px;
}

.mocktest-search-btn:hover {
    background-color: rgb(243, 93, 93);
    position: relative;
    display: block;
}

.search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    position: relative;
    /* display: block; */
}

.slicer-mocktests-img {
    /* background: url('https://inchincloser.com/wp-content/uploads/2020/12/hsk-levels.png') top center / cover no-repeat; */
    margin-top: 90px;
    position: relative;
    /* padding-top: 50%; */
    min-width: 1235px;
    height: 580px;
    filter: brightness(70%);
}

.slicer-mocktests-content {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: SF Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 0 7px 9px rgb(0 0 0 / 46%);
}


/* TEST SECTION */

.mocktests-container {
    margin-top: 80px;
    background-color: #f7f7f7;
}

.mocktests-tests {
    margin-bottom: 10px;
}

/* .moctests-item{
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
    
   
}

.moctests-item-a{
    text-decoration: none;
}

.moctests-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.05);
}

.moctests-item__img{
    height: 162px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}

.moctests-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem; 
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

} */

.mocktests-item__img {
    width: 240px;
    height: 300px;
    padding-top: 11px;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mocktests-product-item {
    background-color: #d37373;
    box-shadow: 0 0.1rem 14px rgb(0 0 0 / 10%);
    transition: transform linear 0.3s;
    will-change: transform;
    display: block;
    text-decoration: none;
    border-radius: 6px;
}

.mocktests-product-item__tg {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
    color: #d45501;
    font-size: 20px;
}

.mocktests-product-item__name {
    font-size: 21px;
    font-weight: 600;
    color: #2c2b2b;
    line-height: 1.4rem;
    height: 3.8rem;
    margin: 10px 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-bottom: 4px;
    text-overflow: ellipsis;
}

.mock-icon {
    margin-right: 6px;
}



/* MODAL */
.modal-hsk1 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;

}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    color: #ffffff;
}

.modal-body {
    padding: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-header {
    background: #009688;
    color: #fff;
    font-size: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#buy-ticket {
    background: #009688;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;

}

#buy-ticket:hover {
    opacity: 0.9;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.nothing {
    margin-top: 150px;
}